div#toast-notify {
    height: auto;
    width: 100vw;
    position: fixed;
    z-index: 1;
    left: 0;
    right:0;
    bottom: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toast {
    visibility: hidden;
    height: 5vh;
    width: 75vw;
    background-color: #810909;
    color: #fff;
    border-radius: 2px;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.toast > img{
    width: 5vw;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
}

.toast > .toast-desc{
    flex-grow: 1;
    color: #fff;
    background-color: black;
    padding: 16px;
}

.toast.show {
    visibility: visible;
    /* animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s; */
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}